{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<div class="banner" style="background-image: url('{{ asset('images/image-home.jpg') }}');">
   
    <section class="bloc-titres">
        <h1 class="titre titre-principal">Hic & Nunc</h1>
        <h2 class="titre titre-label">Ici et maintenant</h2>
        <h6 class="titre titre-slogan">Pour un nouveau départ</h6>
    </section>
</div>
<section class="bandeau">
</section>

<section class="bg-light-green py-0">
  <div class="container-description">
    <div class="w-100 mx-auto row text-center">
      
      <!-- Colonne gauche : Mon objectif -->
      <div class="col-md-5 mb-md-0 mb-5">
        <h2 class="fw-bold1">Mon objectif</h2>
        <p>Vous permettre d’atteindre un état de bien-être dans votre vie.</p>
      </div>

      <!-- Colonne centrale : image de l’oiseau -->
      <div class="col-md-2 text-center d-none d-md-block">
        <img src="{{asset('images/poignee_beige.svg')}}" alt="poignee_main" class="img-fluid" style="max-height: 100px;">
      </div>

      <!-- Colonne droite : Vos besoins en 2 sous-colonnes -->
      <div class="col-md-5">
        <h2 class="fw-bold2">Vos besoins</h2>
        <div class="row">
          <!-- Sous-colonne gauche -->
          <div class="col-6 d-flex justify-content-center">
            <ul class="list-unstyled">
              <li>Coaching</li>
              <li>Gestion du stress</li>
              <li>Gestion émotionnelle</li>
              <li>Orientation de vie</li>
            </ul>
          </div>
          <!-- Sous-colonne droite -->
          <div class="col-6 d-flex justify-content-center">
            <ul class="list-unstyled">
              <li>Développement personnel</li>
              <li>Séparation</li>
              <li>Deuil</li>
              <li>Préparation aux examens</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="bandeau">
</section>


<section class="bg-light-green py-0">
<div class="container-practices">
    <div class="w-100 mx-auto row text-center">
        <div class="col-md-12 mb-md-0">
            <h2 class="fw-bold3">Mes Pratiques</h2>
        </div>
    </div>  
</div> 
</section>

<div class="container-card ">
  <div class="row justify-content-center mb-5">
    {% for practice in practices %}
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
      
        <div class="card h-100 shadow-sm"style="width: 100%; max-width: 18rem;">
          
          {% if practice.image %}
            <img src="{{ asset('images/' ~ practice.image) }}" class="card-img-top" alt="{{ practice.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ practice.title }}</h5>
            {# <p class="card-text">{{ practice.description|slice(0, 150) ~ '...' }}</p> #}
          </div>
          <div class="card-footer text-center">
            <a href="{{ path('practice_show', {id: practice.id}) }}" class="btn btn-same-bg px-4">En savoir plus</a>
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-12 text-center">
        <p>Aucune pratique thérapeutique enregistrée pour le moment.</p>
      </div>
    {% endfor %}
</div>

<section class="bandeau">
</section>

<section class="bg-light-green py-0">
<div class="container-testimonials">
    <div class="w-100 mx-auto row text-center">
        <div class="col-md-12 mb-md-0">
            <h2 class="fw-bold3">Ils témoignent...</h2>
        </div>
    </div>  
</div> 
</section>

<div class="container-card2">
  <div class="row justify-content-center mb-5">
    {% for testimonial in testimonials %}
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center mb-4">
      
        <div class="card h-100 shadow-sm"style="width: 100%; max-width: 18rem;">
          
          
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ testimonial.firstname }}</h5>
            <h6 class="mt-3"> {{ testimonial.createdat|date('d/m/Y') }}</h6>
            <p class="card-content">{{ testimonial.content|slice(0, 200)}}{% if testimonial.content|length > 200 %}...{% endif %}</p>
            
          </div>
          <div class="card-footer text-center">
            <a href="{{ path('testimonial_index')}}" class="btn btn-same-bg px-4 mt-3">Lire plus</a>

          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>
</div>



{% endblock %}
