
{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="d-grid gap-2 col-6 mx-auto">
		{# <button class="btn btn-primary" type="button"></button> #}
		{# <a class="btn btn-primary" href="{{path('list_category')}}">Gérer les categories</a>
					 #}
		{# <button class="btn btn-primary" type="button"></button> #}
		{# <a class="btn btn-primary" href="{{path('list_product')}}">Gérer les Produits</a> #}
			<div class="example-wrapper"> <div class="container">

				<h3>Administrateur</h3>
			</div>
			


			<div class="dropdown">
  <button class="btn btn-same-bg mt-4 dropdown-toggle" type="button" id="adminMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu" aria-labelledby="adminMenuButton">
    {# <li><a class="dropdown-item" href="{{ path('practices_index') }}">Gérer mes pratiques</a></li> #}
    <li><a class="dropdown-item" href="{{ path('admin_appointment') }}">Gérer les RDV</a></li>
    <li><a class="dropdown-item" href="{{ path('testimonial_index') }}">Gérer les témoignages</a></li>
  </ul>
</div>

{% endblock %}