<footer class="footer px-0 py-0">
	<div class="container-footer">
		<div class="d-flex flex-wrap justify-content-center text-center gap-4 px-0 py-0">


			<!-- Contact -->
			<div class="footer-section flex-grow-1 pt-4 mt-0" style="min-width: 250px;">
				<h6 class="tittle-footer mb-2">Contact</h6>
				<p class="text-center text-md">Cabinet Hic & Nunc</p>
				<p class="text-center text-md">77 rue de l’hôtel de ville<br>63400 CHÂTEL-GUYON</p>
				<p class="text-center text-md">06 12 34 56 78</p>
				{# <p class="text-center text-md-start">Email : <a href="mailto:contact@exemple.com" class="text-dark">contact@exemple.com</a></p> #}
			</div>

			<!-- Navigation -->
			<div class="footer-section flex-grow-1 p-4" style="min-width: 250px;">
				<h6 class="tittle-footer mb-2">Navigation</h6>
				<ul
					class="list-unstyled text-muted text-center text-md-start">
					{# <li><a href="/accueil" class="text-black">Accueil</a></li> #}
					<li>
						<a href="{{ path('app_home') }}" class="text-black" alt="link">Accueil</a>
					</li>
					<li>
						<a href="{{ path('app_a_propos') }}" class="text-black" alt="link">Qui suis-je ?</a>
					</li>
					<li>
						<a href="{{ path('practices_index') }}" class="text-black" alt="link">Pratiques</a>
					</li>
					<li>
						<a href="{{ path('contact_index') }}" class="text-black" alt="link">Contact</a>
					</li>
					<li>
						<a href="{{ path('reservation_new') }}" class="text-black" alt="link">Prendre RDV</a>
					</li>
				</ul>
			</div>


		</div>
	</div>


	<section class="d-flex justify-content-center mt-0">
		<img src="{{asset('images/logo.png')}}" alt="Logo" width="70" height="30" class="d-inline-block align-text-top">
	</section>
	<div class="mentions col text-center">
		<p class="mb-0 text-center fs-8">&copy; 2025 Hic et Nunc. Tous droits réservés.</p>
		<a href="/mentions-legales" class="text-black">Mentions légales</a>
		|
		<a href="/confidentialite" class="text-black">Politique de confidentialité</a>
	</div>
</footer>
