
  <div class="container-fluid">
    
   
    <section class="d-flex justify-content-center py-0 mb-0 pt-2">
      <img src="{{asset('images/logo.png')}}" alt="Logo" width="150" height="70" class="d-inline-block align-text-top">
     
    </section>
    
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{path('app_register')}}" class="btn btn-same-bg me-md-2 px-4">S'inscrire</a>
        <a href="{{path('app_login')}}" class="btn btn-same-bg px-4">Se connecter</a>
      </div>
      
  </div>
  
<section class="bandeau-brand">
  	
<nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="#">Christine Brunoir</a>
  <span class="navbar-text text-dark small text-dark">Psychopracticienne – Méthodes intégratives</span>
  <!-- menu ici -->
</nav>
</section>




<nav class="navbar navbar-expand-lg navbar-light same-bg">

  <div class="container-nav mb-0 mt-0">
    {# Bouton burger pour mobile #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Bloc de liens centré #}
    <div class="collapse navbar-collapse" id="navbarResponsive">
    
      <div class="col-6 w-100 d-flex justify-content-center">
        <ul class="navbar-nav ms-auto me-auto gap-5">
          <li class="nav-item">
            <a href="{{path('app_home')}}" class="nav-link active" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a href="{{path('app_a_propos')}}" class="nav-link" href="#">Qui suis-je ?</a>

          </li>
          <li class="nav-item">
            <a href="{{path('practices_index')}}" class="nav-link" href="#">Pratiques</a>
          </li>
          <li class="nav-item">
            <a href="{{path('contact_index')}}" class="nav-link" href="#">Contact</a>
          </li>
          <li>
            <a href="{{path('reservation_new')}}" button class="btn btn-same-bg2 me-md-2 px-4" type="button">Prendre RDV</a>
          </li>
        </ul>
      </div>
    </div>
   
  </div>
  
</nav>

{% if app.user %}
			<p>Bienvenue
			
				{{app.user.email}}</p>

				
			
			<a href="{{path('app_logout')}}" class="btn btn-same-bg me-md-2 px-4" type="submit">Se déconnecter</a>

		
		{% endif %}
