{% extends 'base.html.twig' %}
{% block body %}

<section class="bandeau">
</section>

<h3>Liste des témoignages</h3>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


<div class="col-6 w-100 d-flex justify-content-center">
  <a href="{{ path('app_admin') }}" class="btn btn-same-bg2">
    ← Retour au menu
  </a>
</div>


<div class="mb-5">
<a href="{{ path('admin_testimonial_index') }}"</a>
<a href="{{ path('admin_testimonial_add') }}" class="btn btn-same-bg2">Ajouter un témoignage</a>
</div>

<table class="table">
  <thead>
    <tr>
      
      <th>Contenu</th>
      <th>Date de création</th>
      <th>En ligne</th>
      <th>Auteur</th>
      <th>Actions<th>
    </tr>
  </thead>
  <tbody>
  {% for testimonial in testimonials %}
    <tr>
        <td>{{ testimonial.content }}</td>
        <td>{{ testimonial.createdat|date(('d/m/Y H:i'))}}</td>
        {# <td class="text-center">
        <input type="checkbox" class="form-check-input" disabled {% if testimonial.visible %}checked{% endif %}>
        </td> #}

        <td class="text-center">
        <input type="checkbox" class="form-check-input same-bg" disabled
           {% if testimonial.isVisible() %}checked{% endif %}>
        </td>


        {# <td>{{ testimonial.visible}}</td> #}
        <td>{{ testimonial.firstname}}</td>
        <td>{{ testimonial.lastname}}</td>
                
        <td>
          <a href="{{ path('admin_testimonial_edit', {id: testimonial.id}) }}" class="btn btn-same-bg5">Modifier</a>
          <a href="{{ path('admin_testimonial_delete', {id: testimonial.id}) }}" class="btn btn-same-bg5">Supprimer</a>
        </td>
    </tr>

    
</div>

    
  {% endfor %}
  </tbody>
</table>
{% endblock %}
